page-ernaehrung {

    .label-md {
        margin: 30px 0 20px 5px;
        padding: 0 0 0 0;
    }
    .label-wp {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .label-ios {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

}
