page-impressum {

    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }
    .slide-zoom {
        text-align: left;
    }

    .hiddenelement {
        width: 100%;
        height: 100%;
        display: none;
    }
    .impressumDIV {
        padding: 20px;
        font-size: 12pt;
    }

    .scroll-content {
        margin-top: 15px !important;
    }
    .fixed-content {
        margin-top: 15px !important;
    }
    .line-breaker {
        white-space: pre-line;
    }

}
