page-ernae-allgemeines {

    .text-wrap {
        overflow: initial;
        white-space: initial;
    }

    .alert-title {
        text-align: center !important;
        zoom: 1.5 !important;
        margin-bottom: 16px !important;
    }

    ul {
        -webkit-padding-start: 20px;
    }

    .hiddenelement {
        width: 100%;
        height: 100%;
        display: none;
    }
        
}
